@using SACS.Common;
@model EmployeeInformationViewModel
@{
}
<h1 class="text-center">Employee information</h1>
<hr>

<div style="margin-top: 50px" class="text-center">
    <ul class="list-group">
        <li class="list-group-item fs-3">First Name: @Model.FirstName</li>
        <li class="list-group-item fs-3">Last Name: @Model.LastName</li>
        <li class="list-group-item fs-3">Department: @Model.Department.Name</li>
        <li class="list-group-item fs-3">PhoneNumber: @Model.PhoneNumber</li>
        <li class="list-group-item fs-3">Email: @Model.Email</li>
        <li class="list-group-item fs-3">Position: @Model.Position</li>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {

            <form asp-action="Delete" asp-route-id="@Model.Id">
                <button class="btn btn-danger">Delete</button>
            </form>

        }
    </ul>


</div>