@model SACS.Web.ViewModels.Employee.EmployeeInformationViewModel
@{
}
<h1 class="text-center">Employee information</h1>
<hr>

<div style="margin-top: 50px" class="text-center">
    <ul class="list-group">
        <li class="list-group-item fs-3">First Name: @Model.FirstName</li>
        <li class="list-group-item fs-3">Last Name: @Model.LastName</li>
        <li class="list-group-item fs-3">Department: @Model.Department</li>
        <li class="list-group-item fs-3">PhoneNumber: @Model.PhoneNumber</li>
        <li class="list-group-item fs-3">Email: @Model.Email</li>
        <li class="list-group-item fs-3">Position: @Model.Position</li>
    </ul>


</div>