@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SACS.Data.Models
@model SACS.Web.ViewModels.Employee.EmployeeScheduleViewModel
@{
    ViewData["Title"] = "Home Page";
    // Convert ICollection to List for indexed access
    var employeesList = Model.EmployeeList.Employees.ToList();
}

<div class="text-center">
    <h1 class="display-4">Schedule for this week</h1>
</div>

<div class="table-responsive bg-white p-3 rounded shadow-sm">
    <table class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
                <th>Employee</th>
                <th>Date</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.WeeklySchedule)
            {
                <tr>
                    <td>@entry.EmployeeName</td>
                    <td>@entry.Date.ToString("dd-MM-yyyy")</td>
                    <td>@entry.StartTime.ToString(@"hh\:mm")</td>
                    <td>@entry.EndTime.ToString(@"hh\:mm")</td>
                    <td class="text-white fw-bold
                @(
                                      entry.Location == "Office" ? "bg-success" :
                                      entry.Location == "Remote" ? "bg-secondary" :
                                      entry.Location == "Vacation" ? "bg-warning" : ""
                            )">
                    @entry.Location
                </td>
            </tr>
                        }
        </tbody>
    </table>

<div style="margin-top: 100px;">
    <h3 class="text-center">Color Legend</h3>
    <hr>
    <div>
        <ul class="d-flex justify-content-center">
            <li style="height: 10px; width: 10px; margin-top:5px; margin-right: 5px;"
                class="bg-success rounded list-group-item"></li>
            <li class="list-group-item">Active</li>
        </ul>

        <ul class="d-flex justify-content-center">
            <li style="height: 10px; width: 10px; margin-top:5px; margin-right: 5px;"
                class="bg-primary rounded list-group-item"></li>
            <li class="list-group-item">Remote</li>
        </ul>

        <ul class="d-flex justify-content-center">
            <li style="height: 10px; width: 10px; margin-top:5px; margin-right: 5px;"
                class="bg-warning rounded list-group-item"></li>
            <li class="list-group-item">Vacation</li>
        </ul>

        <ul class="d-flex justify-content-center">
            <li style="height: 10px; width: 10px; margin-top:5px; margin-right: 5px;"
                class="bg-secondary rounded list-group-item"></li>
            <li class="list-group-item">Absent</li>
        </ul>
    </div>
    <hr>
</div>
